<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Messager</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%= erb :nav %>
  <%= yield %>
</body>
</html>
